# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Node / TypeScript
node_modules/
dist/
*.tsbuildinfo

# Editors / OS
.idea/
.vscode/
*.iml
.DS_Store
